.faq{
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-bottom: 35px;
    padding-top: 100px;
}

.listss{
    margin: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.itemsee{
    margin: 50px;
}

.itemsee h4{
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 900;
}

.itemsee h6{
    font-size:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 650;
}

.itemsee p{
    font-size:18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 450;
}

.itemsee h5{
    font-size:20px;
  margin-bottom: 10px;

    font-weight: 650;
}

